<app-navigate></app-navigate>
<div class="container">
    <app-header (sortBy)="onSortBy($event)"></app-header>
    <div class="task-list">
        <div class="table">
            <div class="row head">
              <div class="cell">Дата Создания</div>
              <div class="cell">Исполнитель</div>
              <div class="cell">Приоритет задачи</div>
              <div class="cell">Название задачи</div>
            </div>
            <div class="row" *ngFor="let task of getTasksForCurrentPage()">
              <div class="cell">{{task.date | date:'dd MMMM yyyy' : 'ru'}}</div>

              <div class="cell" (click)="onViewTask(task.id)">
                <div *ngFor="let user of users">
                  <p *ngIf="user.id === task.member">
                    <img src="../../../assets/images/{{ user.avatar }}" alt="{{ user.displayName }}">  
                    {{ user.displayName }}
                  </p>
                </div>
              </div>

                <div class="cell"><span [ngClass]="{'medium': task.priority === 'Средний', 'low': task.priority === 'Низкий', 'high': task.priority === 'Высокий'}">{{task.priority}}</span></div>
                <div class="cell">{{task.name}}</div>
                <div class="cell close"> <button (click)="removeTask(task.id)" class="button close"><i class="fa-solid fa-xmark"></i></button></div>
            </div>
          </div>
          <mat-paginator 
          #paginator
          hidePageSize="true"
          [length]="paginator.length"
          [pageSize]="paginator.pageSize"
          (page)="paginator.pageIndex = $event.pageIndex">
</mat-paginator>

    </div>
    <app-view-task [taskId]="taskId"></app-view-task>
</div>

<div class="clear"></div>